.contacts {
  margin-top: 125px;
}

.contacts h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 60px;
}

.contacts p,
.contacts__data a {
  font-size: 25px;
  line-height: 35px;
  text-align: start;
  letter-spacing: 0.8px;
  color: $color-dark-teal;
}

.contacts__wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 150px;
}

.contacts__data {
  display: flex;
  flex-direction: column;
  width: 33.3%;
  margin-bottom: 30px;
}

.contacts__details {
  width: 100%;
  margin-bottom: 40px;
}

.contacts__wrap iframe {
  border: 2px solid $color-accent-orange;
  border-radius: 22%;
}

.contacts h4 {
  font-size: 20px;
  line-height: 35px;
  text-align: start;
  letter-spacing: 0.8px;
  color: #006363;
  text-transform: uppercase;
}
