.contacts {
  margin-top: 160px;

  @media (max-width: $desktop-width) {
    margin-top: 135px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 0;
  }
}

.contacts h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 60px;

  @media (max-width: $desktop-width) {
    font-size: 26px;
    line-height: 28px;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 26px;
    padding-top: 30px;
  }
}

.contacts p,
.contacts__data a {
  font-size: 25px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.8px;
  color: $color-dark-teal;

  @media (max-width: $desktop-width) {
    font-size: 22px;
    line-height: 30px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 26px;
  }
}

.contacts h3 ~ p {
  margin-bottom: 55px;

  @media (max-width: $desktop-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 30px;
  }
}

.contacts p + p {
  margin-bottom: 80px;
}

.contacts__wrap {
  position: relative;
  margin-bottom: 205px;

  @media (max-width: $desktop-width) {
    margin-bottom: 160px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 130px;
  }
}

.contacts__data-wrap {
  position: absolute;
  background-color: $color-bg-blue;
  display: flex;
  flex-direction: column;
  left: 95px;
  top: 142px;
  padding: 20px 50px 60px;
  border: 3px solid $color-accent-orange;

  @media (max-width: $desktop-width) {
    padding: 15px 30px 35px;
    left: 70px;
    top: 189px;
  }

  @media (max-width: $tablet-width) {
    left: 10px;
    top: 276px;
    padding: 10px 15px 25px;
  }
}

.contacts__data {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}


.contacts h4 {
  font-size: 20px;
  line-height: 35px;
  text-align: start;
  letter-spacing: 0.8px;
  color: #006363;
  text-transform: uppercase;
  margin-bottom: 0;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.contacts__wrap iframe {
  border: none;
}
