.details__list {
  @include list-style;
  padding-top: 40px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
  }
}

.details__list-item-wrap {
  width: 75%;
  margin-right: 30px;

  @media (max-width: $desktop-width) {
    width: 70%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-right: 0;
  }

  &--guide {
    display: flex;
    flex-wrap: wrap;
  }
}

.details__list-item-wrap img {
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  margin-bottom: 30px;
}

.details__list-item-wrap--guide img {
  width: 85%;

  &:nth-child(even) {
    margin-right: 20px;

    @media (max-width: $desktop-width) {
      margin-right: 15px;
      width: 60%;
    }

    @media (max-width: $tablet-width) {
      width: 80%;
    }
  }
}

.details__list-item-wrap--guide picture {
  width: 50%;

  @media (max-width: $desktop-width) {
    width: 100%;
  }
}

.details__list-item-info {
  width: 25%;
  padding: 0 10px;
  border: 2px solid $color-accent-orange;
  height: fit-content;
  margin-top: 76px;
  border-radius: 10px;
  background-color: $color-bg-blue;

  @media (max-width: $desktop-width) {
    margin-top: 62px;
    width: 30%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 20px;
  }

  &--guide {
    margin-top: 111px;
  }

  &--down-ekf {
    @media (max-width: 906px) {
      margin-top: 88px;
    }
  }

  &--down {
    @media (max-width: 1024px) {
      margin-top: 88px;
    }
  }

  &--down-mob {
    @media (max-width: $desktop-width) {
      margin-top: 88px;
    }
  }
}

.details__list-item-info a {
  font-size: 18px;
  line-height: 35px;
  text-align: justify;
  letter-spacing: 0.8px;
  color: $color-dark-teal;
  position: relative;
  display: inline-block;
  margin-top: 15px;
  padding-left: 50px;
  margin-bottom: 10px;

  @media (max-width: 1317px) {
    font-size: 16px;
    line-height: 24px;
    padding-top: 40px;
    padding-left: 0;
  }

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    background-image: url("../img/link.png");
    left: 0;
    top: -4px;

    @media (max-width: 1317px) {
      left: 0;
    }
  }
}

.details__list-item {
  display: flex;
  padding-bottom: 50px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
  }
}

.details__list-item-wrap h3 {
  font-size: 20px;
  line-height: 35px;
  text-align: start;
  letter-spacing: 0.8px;
  color: $color-dark-teal;
  text-transform: uppercase;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 26px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}

.details__list-item-info p,
.details__list-item-info h4 {
  color: $color-dark-teal;
}

.details__list-description {
  @include list-style;
}

.details__list-description p {
  position: relative;
  padding-left: 38px;

  @media (max-width: $desktop-width) {
    padding-left: 18px;
  }

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $color-accent-orange;
    top: 7px;
    left: 10px;

    @media (max-width: $desktop-width) {
      left: 0;
    }
  }
}
