.industries {
  background-color: $color-bg-blue;
  margin-bottom: 150px;
}

.industries h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  padding-top: 180px;
  padding-bottom: 20px;
  margin: 0;
}

.industries h3 + p {
  font-size: 30px;
  line-height: 45px;
}

.industries__list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 120px;
}

.industries__list li {
  font-size: 30px;
  line-height: 49px;
  padding-left: 80px;
  letter-spacing: 0.8px;
  color: $color-dark-teal;
  position: relative;
  width: 50%;
  border-bottom: 1px solid $color-hover;

  &:nth-child(odd) {
    border-right: 1px solid $color-hover;
  }

  &:nth-last-child(-n+2) {
    border-bottom: none;
  }
}

.industries__list p::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 36px;
  left: 19px;
  background: url("../img/svg/checkbox.svg") no-repeat center bottom;
}
