.page-footer {
  background-color: $color-bg-blue;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: $tablet-width) {
    align-items: flex-start;
  }
}

.page-footer__logo {
  display: inline-block;
  padding-top: 30px;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    padding-left: 15px;
    margin-bottom: 30px;
    padding-top: 20px;
  }
}

.page-footer__logo svg {
  fill: $color-main-font;

  @media (max-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.page-footer__nav-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 35px;

  @media (max-width: $desktop-width) {
    margin-bottom: 25px;
  }

  @media (max-width: $tablet-width) {
    align-items: flex-start;
    flex-direction: column;
  }
}

.page-footer__nav-list li {
  margin-left: 20px;

  @media (max-width: $desktop-width) {
    margin-left: 0;
  }
}

.page-footer__nav-list a {
  color: $color-main-font;
  font-weight: 700;
  font-size: 20px;
  margin-left: 20px;

  @media (max-width: $desktop-width) {
    font-size: 18px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }

  &:hover {
    border-bottom: 2px solid $color-accent-orange;
    transition: 0.4s;
    opacity: 1;
  }
}

.page-footer p {
  @media (max-width: $tablet-width) {
    font-size: 16px;
    padding-left: 15px;
  }
}

.page-footer__social-list {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 35px;
}

.page-footer__social-list li {
  margin-right: 20px;
}

.page-footer__social-list-item svg {
  fill: $color-main-font;
  width: 30px;
  height: 30px;
}
