.progress h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 70px;
  padding-top: 40px;
}

.progress__foto {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 68px;
  padding-bottom: 100px;
}

.progress__foto img {
  width: 100%;
  box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.35);
  border-radius: 10px;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}


.progress__foto picture {
  width: 46%;

  @media (max-width: 939px) {
    width: 44%;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}
