.services-about {
  margin-bottom: 150px;
  margin-top: 190px;

  @media (max-width: $desktop-width) {
    margin-bottom: 100px;
  }

  @media (max-width: $tablet-width) {
    margin-bottom: 50px;
  }

  &--static {
    margin-top: 60px;

    @media (max-width: $desktop-width) {
      margin-top: 45px;
    }

    @media (max-width: $tablet-width) {
      margin-top: 35px;
    }
  }
}


.services-about h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;

  @media (max-width: $desktop-width) {
    font-size: 26px;
    line-height: 28px;
  }

  @media (max-width: $tablet-width) {
    font-size: 24px;
    line-height: 26px;
  }
}

.services-about__nav {
  @include list-style;
  display: flex;
  flex-wrap: wrap;
  background-color: $color-hover;
  margin-bottom: 30px;
  gap: 10px;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
  }
}

.services-about__nav li {
  color: $color-white-blue;
  letter-spacing: 0.8px;
  width: 24.3%;
  min-height: 100px;
  background-color: $color-bg-nav;
  position: relative;

  @media (max-width: 1275px) {
    width: 32.7%;
  }

  @media (max-width: 1257px) {
    width: 32.6%;
  }

  @media (max-width: 997px) {
    width: 32.5%;
  }

  @media (max-width: 889px) {
    width: 32.4%;
  }

  @media (max-width: 802px) {
    width: 32.3%;
  }

  @media (max-width: $tablet-width) {
    width: 49%;
  }

  @media (max-width: 528px) {
    width: 48.7%;
  }

  @media (max-width: 423px) {
    width: 48.6%;
  }

  @media (max-width: 386px) {
    width: 48%;
  }

  &:hover {
    opacity: 0.7;
  }
}

.services-about__nav li a {
  color: $color-white-blue;
  display: inline-block;
}

.services-about__nav li p {
  margin-top: 10px;
  padding-left: 15px;
  margin-bottom: 17%;

  @media (max-width: $desktop-width) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: $tablet-width) {
    font-size: 14px;
    line-height: 18px;
    padding-right: 15px;
    margin-bottom: 27%;
  }
}

.services-about__nav-item svg {
  position: absolute;
  fill: $color-default-white;
  width: 32px;
  height: 32px;
  bottom: 10px;
  left: 13px;
}

.services-about__list {
  @include list-style;
  display: flex;
  flex-direction: column;
}

.services-about__list-item {
  min-height: 267px;
  margin-bottom: 30px;
  background-color: $color-bg-blue;
  position: relative;

  &:hover {
    background-color: $color-white-blue;
    box-shadow: 0 34px 12px -24px rgba(255, 170, 0, 1);
    transition: 0.2s;
  }
}

.services-about__list-item h4 {
  font-size: 20px;
  line-height: 35px;
  text-align: start;
  letter-spacing: 0.8px;
  color: $color-dark-teal;
  text-transform: uppercase;
  padding-left: 180px;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 24px;
    padding-left: 150px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 100px;
    margin-bottom: 45px;
  }
}

.services-about__list-item p {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.8px;
  color: $color-dark-teal;
  text-align: start;
  padding-left: 208px;
  width: 90%;
  position: relative;

  @media (max-width: $desktop-width) {
    font-size: 18px;
    line-height: 22px;
    padding-left: 178px;
  }

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
    padding-left: 48px;
    width: 98%;
  }

  &::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid $color-accent-orange;
    top: 12px;
    left: 180px;

    @media (max-width: $desktop-width) {
      width: 8px;
      height: 8px;
      top: 6px;
      left: 150px;
    }

    @media (max-width: $tablet-width) {
      left: 15px;
    }
  }
}

.services-about__list-item__icon-logo {
  fill: $color-accent-orange;
  position: absolute;
  left: 25px;
  top: 13px;

  @media (max-width: $desktop-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $tablet-width) {
    width: 60px;
    height: 60px;
    left: 10px;
  }

  &--down {
    top: 24px;

    @media (max-width: $tablet-width) {
      top: 11px;
    }
  }

  &--up {
    top: 0;
  }

  &--upper {
    @media (max-width: $tablet-width) {
      top: 22px;
    }
  }
}

.services-about__list-item br {
  display: none;

  @media (max-width: 464px) {
    display: block;
  }
}
