.team {
  position: relative;
  display: none;
}

.team__swiper {
  display: flex;
  width: 1160px;
  margin-bottom: 150px;

  @media (min-width: 1200px) and (max-width: 1365px) {
    width: 860px;
  }

  @media (max-width: $desktop-width) {
    max-width: 566px;
    width: 100%;
  }

  @media (max-width: $tablet-width) {
    width: 150px;
    max-width: 100%;
  }
}

.team h3 {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 60px;
  margin-bottom: 60px;
}

.team img {
  width: 150px;
  height: 150px;
}

.team__button {
  position: absolute;
  top: 219px;
  width: 23px;
  height: 23px;
  background-color: transparent;
  border: 1px solid $color-dark-teal;
  border-style: solid solid none none;
}


.team__button-prev {
  transform: rotate(225deg);
  cursor: pointer;
  left: 51px;

  &:hover {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    bottom: 131px;
    left: 23px;
    width: 14px;
    height: 14px;
  }
}

.team__button-next {
  transform: rotate(45deg);
  cursor: pointer;
  right: 51px;

  &:hover {
    opacity: 0.3;
  }

  @media (max-width: $tablet-width) {
    bottom: 131px;
    right: 23px;
    width: 14px;
    height: 14px;
  }
}

.team__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team__card h4,
.team__card p {
  color: $color-dark-teal;
}
