// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-main-teal:                   #028e9b;
$color-main-font:                   #000f10;
$color-hover:                       #1d7373;
$color-dark-teal:                   #006363;
$color-light-teal:                  #5ccccc;
$color-bg-blue:                     #cbeaeb;
$color-white-blue:                  #effafa;
$color-light-blue:                  #a4ffff;
$color-accent-orange:               #ff7400;
$color-transparent-grey:   rgba(34, 60, 80, 0.08);
$color-bg-contacts:          linear-gradient(90deg, rgb(16, 38, 84) 50%, rgb(255, 255, 255) 49%);
$hover-gradient:             linear-gradient(97.05deg, #ed0233 17.6%, #003eb7 95.31%);
$hover-border-gradient:      linear-gradient(97.05deg, #d10a42 17.6%, #00359f 95.31%);
$conic-gradient:             conic-gradient(from 139.4deg at 20.7% 35.74%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$conic-gradient-mob:         conic-gradient(from 171.43deg at 35.31% 34.22%, #b80027 -46.69deg, #003d85 32.24deg, #b80027 313.31deg, #003d85 392.24deg);
$numbers-gradient:           linear-gradient(127.61deg, #d10a42 0%, #0041ca 45.58%);

// Project palette
// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482


// Gradient

$black-to-right:                    linear-gradient(90deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 75%);

// Typography
// ---------------------------------

// переменная используемая в html для подключения скейлинга
$fz-default:                        16px;

// у некоторых шрифтов в ios возникают проблемы с символом рубля
// https://www.artlebedev.ru/kovodstvo/sections/159/#13
$ff-rouble:                         "Rouble", "Arial", sans-serif;

$ff-placeholder:                    "Placeholder", "Arial", sans-serif;

// Animation
// ---------------------------------

$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// если требуется изинг отличный от $tf-default, то переменную называем не цифрой
$trans-modal:                       0.6s cubic-bezier(0.55, 0, 0.1, 1);

$trans-600:                         0.6s $tf-default;

// Viewports
// ---------------------------------
$mobile-width: 320px;
$tablet-width: 767px;
$desktop-width: 1199px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
